<% provide(:title, 'Listings') %>
<h1><%= current_user.name %>'s Listings</h1>
<% @listings.each do |listing| %>
<div class= "userlistings listings">START: <%= listing.datein %> FINISH: <%= listing.dateout %>	 LOCATION: <%=listing.location%></div>
<% end %>

