<% provide(:title, 'About Us') %>
<h1>About Boola Basements</h1>
<p>
   Boola Basements was founded on the belief that the price of storing your stuff is <a href = "https://www.youtube.com/watch?v=x4o-TeMHys0"> just too damn high.</a> Thus, we set out to create a way to let friendly students such as yourself browse for and post your available space. 
</p>
  
