

<div class="center hero-unit">
  <h1>Boola Basements</h1>

  <h2>
    Please login here to get started! 
  </h2>

  <%= link_to "Sign up now!", '/users/sign_up', class: "btn btn-large btn-primary" %>
</div>

