html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom:0;
  margin-bottom:0;
  width: 100%;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
form{

}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow:  0 -1px white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #E0E0E0 ;
}

h3 {
  text-align:center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em
}

a {
  text-decoration:none;
}

/* header */
.hometext{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:  white;
  margin-bottom:2%;
 /* margin-top:4em;*/
}
.charliefancy{
  margin: auto;
  /*left:100px;*/
}
.change{
  display:inline;
  position: relative;
}

#about {
  padding-left:20px;
  padding-right:20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
.searchlisting{
  text-align: center;
  display:block;
  background-color:#39CCCC;
  border-radius:10px;
  padding:7px;
  margin:5px;
  margin: 5px auto;
  font-size: 32px;
}
.userlistings{
  text-align: center;
  display:block;
  background-color:#39CCCC;
  border-radius:10px;
  padding:7px;
  margin:5px;
  border: solid;
  margin: 5px auto;
  font-size: 32px;
}
.userlistingpage{
  margin-bottom: 10px;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
.datebutton{
  display: inline;
}
/* footer */

footer {
  margin-top: 0%;
  padding-top: 0px;
  border-top: 1px solid #eaeaea;
  color: #999;
  margin-left:30px;
  margin-right:30px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
.button{
  float:right;
}
.signinform{
    font-family: 'Noto Sans', sans-serif;
  text-align: center
}
.backgroundimage{
  background-image: url(<%= assets_data_uri 'eastrock.jpg' %>);
  background-position: center;
  height: 40em;
}
.listings {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
#disqus_thread{
  position:relative;
  padding-right: 1em;
}

.bighome {
  margin:0px;
  padding:10%;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
}

#navbar {
  background-color:#F0F0F0;
  margin-top: -60px;
  padding:10px;
  /*padding-bottom: 0px;*/
}

.navbutton{
  margin-right: 2%;
  float:right;
  display: inline;
}

.pure-menu a:hover {
 color: orange;
}
.pure-form{
}
.pure-button {
  border-radius:5px;
  border: solid 1px black;
}

.signupform {

  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
.homeform{
    padding-top: 8%;
  /*display: inline;*/
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

#map-canvas {
  width:500px;
  height:500px;
  padding:0px;
  margin:0px;
  float:left;
  border:solid 2px black;
  border-radius:50%;
  position: fixed;
  left: 35px;
}
.containerlistings{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 27em;
  width: 50%;
  margin: auto;
  margin-bottom:0;
  padding-bottom:0;
   overflow: -moz-scrollbars-vertical;
  overflow: -webkit-scrollbars-vertical;
  overflow: -o-scrollbars-vertical;
  overflow: scrollbars-vertical;
}

.buttonstuff {

}




.btn-5 {
  background: #823aa0;
  color: #fff;
  height: 70px;
  min-width: 260px;
  line-height: 24px;
  font-size: 16px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-5:active {
  background: #0050a9;
  top: 2px;
}

.btn-5 span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.btn-5:before {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-5:active:before {
  color: #703b87;
}

/* Button 5a */
.btn-5a:hover span {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  -ms-transform: translateY(300%);
  transform: translateY(300%);
}

.btn-5a:before {
  left: 0;
  top: -100%;
}

.btn-5a:hover:before {
  top: 0;
}

/* Button 5b */
.btn-5b:hover span {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  transform: translateX(300%);
}

.btn-5b:before {
  left: -150%;
  top: 25;
}

.btn-5b:hover:before {
  left: 0;
}
/*
span{
  font-size: 200%;
  opacity: 0.5;
  padding: .5em 0 0.6em 0.1em;
}*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot');
  src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General button style (reset) */
.btn {
  border: solid;
  border-radius: 100px;
  font-family: inherit;
  font-size: inherit;
  color: black;
  background:  #39CCCC;
  cursor: pointer;
  padding: 20px 80px;
  display: inline-block;
  margin: 10px 5px;
 /* left: 21%;*/
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  -webkit-font-smoothing: antialiased;
}

.icon-box:before {
  content: url('box.png');
}
.icon-couch:before{
  content: url('couch.png');
};
.icon-james:before{
  content: url('couch.gif');
}
.icon-fridge:before{
  content: url('fridge.png');
};

